@import 'mixins';
hr{
	border:0;
	height: 1px;
	background: $lightgray;
}

article img{
	display:inline-block;
}

.jumbo{
	width:100%;
	margin:0 auto;
}

.progress{
	vertical-align:middle;
}

.social{
	height:120px;
	background: $lightgray;
}

span.quiet{
	font-size:1.125em;
	color:$orange;
	font-weight:300;
	font-style:italic;
}

.btn .icon-btn:hover{
	padding-left:10px;
}

.btn:hover .email-icon{
	padding-left:10px;
	fill:white;
	stroke:white;
}

.flex-center{
	height:13em;
	display:flex;
	align-items:center
}