@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700,800,900');

body,
h1,h2,h3,h4,h5,h6,p{
font-family: 'Nunito Sans', sans-serif;
margin:0; //reset
}

h1,h2,h3{
	font-weight:900;
}

button{
	font-weight:600;
}

h1{
	font-size: 2.125em;
	line-height:1.34;
}
h2{
	font-size: 1.375em;
}

.subheader{
	color:$gray;
}

.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}