$icomoon-font-path: "../fonts" !default;

$icon-email: "\e900";
$icon-pencil2: "\e906";
$icon-spinner: "\e97a";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";
$icon-github: "\eab0";
$icon-linkedin2: "\eaca";

