.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

hr {
  border: 0;
  height: 1px;
  background: #F3F3F3; }

article img {
  display: inline-block; }

.jumbo {
  width: 100%;
  margin: 0 auto; }

.progress {
  vertical-align: middle; }

.social {
  height: 120px;
  background: #F3F3F3; }

span.quiet {
  font-size: 1.125em;
  color: #F6A623;
  font-weight: 300;
  font-style: italic; }

.btn .icon-btn:hover {
  padding-left: 10px; }

.btn:hover .email-icon {
  padding-left: 10px;
  fill: white;
  stroke: white; }

.flex-center {
  height: 13em;
  display: flex;
  align-items: center; }
