.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

.btn {
  padding: 0 13px;
  width: 300px;
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  border: #D8D8D8 2px solid;
  color: #D8D8D8;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block; }
  .btn:hover {
    background: #D8D8D8;
    color: white; }
  .btn.primary {
    border-color: #04994A;
    color: #04994A; }
    .btn.primary:hover {
      background: #04994A;
      color: white; }
  .btn.secondary {
    border-color: #D48CE0;
    color: #D48CE0; }
    .btn.secondary:hover {
      background: #D48CE0;
      color: white; }

a .twitter,
a .dribbble,
a .github,
a .linkedin {
  display: inline-block;
  width: 4em;
  height: 4em; }

.social-links a {
  display: inline-block;
  color: white;
  border-radius: 2em;
  font-size: 2em;
  padding: 1em;
  text-decoration: none;
  margin-right: 1em; }
  .social-links a:last-of-type {
    margin-right: 0; }
  .social-links a:hover {
    opacity: .6; }

a.twitter {
  background: #26A7DF; }

a.dribble {
  background: #EA4C89; }

a.github {
  background: #979797; }

a.linkedin {
  background: #0178B5; }
