.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

.nav-right {
  text-align: right; }
  .nav-right ul li {
    list-style: none;
    display: inline;
    padding: 10px; }
    .nav-right ul li a {
      color: #5D5D5D;
      font-weight: 600;
      font-size: 1.125em;
      text-decoration: none; }
      .nav-right ul li a:hover {
        color: #04994A; }

.nav-left {
  float: left;
  width: 50%; }
