@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700,800,900");
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

body,
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0; }

h1, h2, h3, h4 {
  font-weight: 900; }

button {
  font-weight: 600; }

h1 {
  font-size: 2.125em;
  line-height: 1.34; }

h2 {
  font-size: 1.375em; }

h4 {
  color: #04994A;
  font-size: 1.375em; }

.subheader {
  color: #5D5D5D; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

h4 span.italic {
  color: #5D5D5D;
  font-style: italic;
  font-weight: 300; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  width: calc(100% - 120px);
  margin: 60px auto; }

.oneEight {
  float: left;
  width: 12.5%; }

.twoEight {
  float: left;
  width: 25%; }

.threeEight {
  float: left;
  width: 37.5%; }

.fourEight {
  float: left;
  width: 50%; }

.fiveEight {
  float: left;
  width: 62.5%; }

.sixEight {
  float: left;
  width: 75%; }

.sevenEight {
  float: left;
  width: 87.5%; }

.clearfix {
  clear: both; }

@media (max-width: 750px) {
  .oneEight,
  .twoEight,
  .threeEight,
  .fourEight,
  .fiveEight,
  .sixEight,
  .sevenEight {
    width: 100%; } }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

.nav-right {
  text-align: right; }
  .nav-right ul li {
    list-style: none;
    display: inline;
    padding: 10px; }
    .nav-right ul li a {
      color: #5D5D5D;
      font-weight: 600;
      font-size: 1.125em;
      text-decoration: none; }
      .nav-right ul li a:hover {
        color: #04994A; }

.nav-left {
  float: left;
  width: 50%; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

footer {
  color: #D8D8D8;
  text-align: center;
  padding-top: 60px; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

.btn {
  padding: 0 13px;
  width: 300px;
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  border: #D8D8D8 2px solid;
  color: #D8D8D8;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block; }
  .btn:hover {
    background: #D8D8D8;
    color: white; }
  .btn.primary {
    border-color: #04994A;
    color: #04994A; }
    .btn.primary:hover {
      background: #04994A;
      color: white; }
  .btn.secondary {
    border-color: #D48CE0;
    color: #D48CE0; }
    .btn.secondary:hover {
      background: #D48CE0;
      color: white; }

a .twitter,
a .dribbble,
a .github,
a .linkedin {
  display: inline-block;
  width: 4em;
  height: 4em; }

.social-links a {
  display: inline-block;
  color: white;
  border-radius: 2em;
  font-size: 2em;
  padding: 1em;
  text-decoration: none;
  margin-right: 1em; }
  .social-links a:last-of-type {
    margin-right: 0; }
  .social-links a:hover {
    opacity: .6; }

a.twitter {
  background: #26A7DF; }

a.dribble {
  background: #EA4C89; }

a.github {
  background: #979797; }

a.linkedin {
  background: #0178B5; }

@font-face {
  font-family: 'lizfolio';
  src: url("../fonts/lizfolio.eot?pvca2j");
  src: url("../fonts/lizfolio.eot?pvca2j#iefix") format("embedded-opentype"), url("../fonts/lizfolio.ttf?pvca2j") format("truetype"), url("../fonts/lizfolio.woff?pvca2j") format("woff"), url("../fonts/lizfolio.svg?pvca2j#lizfolio") format("svg");
  font-weight: normal;
  font-style: normal; }

i[class='icon-*'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lizfolio';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-email:before {
  content: ""; }

.icon-pencil2:before {
  content: ""; }

.icon-spinner:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-dribbble:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-linkedin2:before {
  content: ""; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.pad {
  padding-top: 60px; }

@media (max-width: 750px) {
  .pad {
    padding-top: 30px; } }

@media (max-width: 360px) {
  .pad {
    padding-top: 15px; } }

.space-top {
  margin-top: 60px; }

@media (max-width: 750px) {
  .space-top {
    margin-top: 30px; } }

@media (max-width: 360px) {
  .space-top {
    margin-top: 15px; } }

hr {
  border: 0;
  height: 1px;
  background: #F3F3F3; }

article img {
  display: inline-block; }

.jumbo {
  width: 100%;
  margin: 0 auto; }

.progress {
  vertical-align: middle; }

.social {
  height: 120px;
  background: #F3F3F3; }

span.quiet {
  font-size: 1.125em;
  color: #F6A623;
  font-weight: 300;
  font-style: italic; }

.btn .icon-btn:hover {
  padding-left: 10px; }

.btn:hover .email-icon {
  padding-left: 10px;
  fill: white;
  stroke: white; }

.flex-center {
  height: 13em;
  display: flex;
  align-items: center; }
